@import "./src/styles/alert.css";
@import "./src/styles/app-footer.css";
@import "./src/styles/app-header.css";
@import "./src/styles/button.css";
@import "./src/styles/custom-dropdown.css";
@import "./src/styles/globals.css";
@import "./src/styles/input.css";
@import "./src/styles/responsive.css";
@import "./src/styles/switch.css";
@import "./src/styles/thinking-indicator.css";
@import "./src/styles/toast.css";
@import "./src/styles/translation-io.css";
@import "./src/styles/translation-page.css";
@import "./src/styles/variables.css";
