/*
 * =================================================================
 * Component: Card
 * =================================================================
 */
.card {
  border: var(--stroke-width-thick) solid var(--color-stroke-1);
  border-radius: var(--border-radius-large);
  box-shadow: 4px 4px 0 0 var(--color-shadow);
  background-color: var(--color-bg-1);
  display: flex;
  flex-direction: column;
}

.card_header {
  padding: var(--spacing-s) var(--spacing-m);
  border-bottom: var(--stroke-width-thick) solid var(--color-stroke-1);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-400);
}

.card_body {
  padding: var(--spacing-m);
  flex-grow: 1;
}