/*
 * =================================================================
 * Component: FileUploader
 * =================================================================
 */
.file-uploader {
  border: var(--stroke-width-thick) dashed var(--color-stroke-1);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-m);
  background-color: var(--color-bg-2);
  color: var(--color-text-2);
  cursor: pointer;
  transition: all var(--duration-fast) var(--curve-easy-ease);
}

.file-uploader:hover,
.file-uploader_active {
  border-color: var(--color-brand-bg);
  background-color: var(--color-bg-hover);
}

.file-uploader_input {
  display: none;
}

.file-uploader_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
}

.file-uploader_file-name {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-1);
}