/*
 * =================================================================
 * Component: ProgressBar
 * =================================================================
 */
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: var(--color-bg-2);
  border: var(--stroke-width-thick) solid var(--color-stroke-1);
  border-radius: var(--border-radius-large);
  box-shadow: 4px 4px 0 0 var(--color-shadow);
  overflow: hidden;
}

.progress-bar_indicator {
  height: 100%;
  background-color: var(--color-brand-bg);
  transition: width 300ms var(--curve-easy-ease);
}